<%= form_with(model: [:admin, game], class: "space-y-6") do |form| %>
  <% if game.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
      <h2 class="font-semibold mb-2">
        <%= pluralize(game.errors.count, "erro") %> impediram o jogo de ser salvo:
      </h2>
      <ul class="list-disc list-inside">
        <% game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Imagem de capa", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= form.file_field :cover_image, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg
      cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#4B1D65] focus:border-[#4B1D65] file:mr-4
      file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-[#4B1D65] file:text-white
      hover:file:bg-[#653780]" %>
  </div>

  <div>
    <%= form.label :data, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= form.datetime_field :data, class: "w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring focus:ring-indigo-200" %>
  </div>

  <div>
    <%= form.label :local, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= form.text_field :local, class: "w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring focus:ring-indigo-200" %>
  </div>

  <div>
    <%= form.label "Titulo", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= form.text_field :title, class: "w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring focus:ring-indigo-200" %>
  </div>

  <div>
    <%= form.label "Descrição", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= form.text_area :description, rows: 4, class: "w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring focus:ring-indigo-200" %>
  </div>

  <div>
    <%= form.submit "Salvar Jogo", class: "bg-[#4B1D65] hover:bg-[#653780] text-white font-semibold px-6 py-3 rounded-xl shadow-md transition" %>
  </div>
<% end %>
