<div id="<%= dom_id registration %>">
  <p>
    <strong>Name:</strong>
    <%= registration.name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= registration.contact_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= registration.status %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= registration.game_id %>
  </p>

</div>
