<div id="<%= dom_id game %>">
  <p>
    <strong>Data:</strong>
    <%= game.data %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= game.local %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= game.user_id %>
  </p>

</div>
